.Pizza {
  height: 50vh;
  background: url(../images/pizza-splash.jpg);
  background-size: cover;
  background-position: center;
}

.Pizza .header-text {
  padding-top: 10%; font-size: 100px; color: #FDFEFF; text-align: center;
}
